.table-container {
  padding: 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.library-hours-heading {
  font-size: 2.5rem;
  color: #5f1515;
  margin-bottom: 20px;
}

.library-hours-table {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border-collapse: collapse;
}

.library-hours-table th,
.library-hours-table td {
  border: 1px solid #ddd;
  padding: 12px 15px;
}

.library-hours-table th {
  background-color: #0b1b74;
  color: white;
  text-align: center;
}

.library-hours-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.library-hours-table tr:hover {
  background-color: #ddd;
}

.library-hours-table td {
  text-align: center;
}